.form-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
  width: 100%;
  max-width:350px;
  text-align: center;
  border: 1px solid rgba(209, 213, 219, 0.6);
  border-radius: 1rem;
  padding: 0 2rem;
  background-color: white;
  margin-top: 2.5rem; 
}
.title {
  font-family:"sans serif";
  color: #111827;
  font-size: 1.875rem;
  font-weight: 500;
}

.input-field {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  border: 1px solid rgba(209, 213, 219, 0.8);
  height: 3rem; 
  border-radius: 9999px;
  overflow: hidden;
  padding-left: 1.5rem;
  gap: 0.5rem;
  outline: none;
}


.buttons-container{
display: flex;
align-items: center;
justify-content: space-between;
width:100%;
margin-top: 10px;
}

.button {
  margin-top: 0.5rem;
  width: 100%;
  height: 2.75rem;
  border-radius: 9999px;
  color: white;
  background-color: #6366f1;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.15s ease;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}